<head>
  <title> Login Social </title>
</head>

<div class="row center mt-3">
  <section class="col-12 col-lg-9">
    <div class="card bg text-white-50 rounded-3 shadow-lg">
      <div class="card-body p-3 m-3">
        <h5 class="card-title mt-1"><strong>{{__ "auth.login_card_title"}}</strong></h5>
        <p class="card-text">{{__ "auth.login_card_text"}}</p>
        <div id="g_id_onload"
            data-client_id="48094181334-ka5pa5993dfs29r921unvlkuf343m57k.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-login_uri="/login"
            data-nonce=""
            data-auto_select="true">
        </div>

        <div class="g_id_signin"
            data-type="standard"
            data-shape="pill"
            data-theme="filled_black"
            data-text="$ {button.text}"
            data-size="large"
            data-logo_alignment="left">
        </div>
      </div>
    </div>
  </section>
</div>