<div class="card bg text-white-50 m-3 shadow-lg">
  <div class="card-header">Olá</div>
  <div class="card-body">
    <h5 class="card-title">Crie sua conta no the bwlog</h5>
    <p class="card-text">Você já está dando muitos dados, não queremos mais não.</p>
    <div class="g-signin2 " data-onsuccess="SignIn" data-theme="dark"></div>
  </div>
</div>