<section class="row row-cols p-1 bg-dark my-5">
  <div class="col rounded-3 mb-1">
    <div class="card bg-dark mb-3">
      <img src="/img/404.png" class="card-img-top" alt="...">
      <div class="card-body bg-dark text-white-50">
        <h5 class="card-title bg-dark">Houve um erro ao tentar acessar a pagina</h5>
        <a class="card-text" href="/">
          <button class="my-2 btn btn-primary">Voltar para home</button>
        </a>
      </div>
    </div>
  </div>

</section>