<a href="/cad" type="button" class="btn btn-secondary shadow-lg  position-fixed end-0 bottom-0 mb-4 margin-r">
    <i class="bi text-white bi-plus-circle"></i>
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-light text-dark">
    Post
  </span>
</a>
