<div class=" new-post p-3">
  <form action="/search" >
    <div class="input-group shadow">
      <input type="text" name="term" class="form-control bg-dark shadow-sm rounded-start border-secondary text-white-50"placeholder="Pesquise por algum termo" aria-describedby="button-addon2">
      <button class="btn btn-secondary rounded-end text-light m-auto" type="submit" id="button-addon2">
        <i class="bi bi-search text-info"></i>
      </button>
    </div>
  </form>
</div>