<head>
  <title>Novo Post</title>
</head>
<script src="static/ckeditor/build/ckeditor.js"></script>
<form action="/add" method="POST" class="p-3" id="form">
  <div class="mb-3 p-2">
    <label class="form-label text-light">slug</label>
    <input type="text" name="slug" class="form-control" placeholder="slug" required>
  </div>

  <div class="mb-3 p-2">
    <label class="form-label text-light">Titulo</label>
    <input type="text" name="titulo" class="form-control" placeholder="Titulo" required>
  </div>

  <div class="mb-3 p-2">
    <label class="form-label text-light">Descrição</label>
    <textarea name="descricao" class="form-control" rows="3" required></textarea>
  </div>  

  <div class="mb-3 p-2">
    <label class="form-label text-light">Conteudo do post</label>
    <textarea name="conteudo" class="form-control" id="conteudo"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mx-2">Enviar</button>

  <button type="submit" class="btn btn-primary mx-2" onclick="toRasc()">Salvar rascunho</button>
</form>

<script>
  function toRasc() {
    document.getElementById("form").action = "/rascunho";
  }
</script>

<script>ClassicEditor
    .create( document.querySelector( '#conteudo' ), {
      
      toolbar: {
        items: [
          'undo',
          'redo',
          '|',
          'bold',
          'italic',
          'underline',
          'fontFamily',
          'fontSize',
          '|',
          'fontColor',
          'highlight',
          '|',
          'bulletedList',
          'numberedList',
          '|',
          'link',
          '|',
          'outdent',
          'indent',
          'alignment',
          '|',
          'horizontalLine',
          'blockQuote',
          'specialCharacters',
          '|',
          'code',
          'imageUpload'
        ]
      },
      language: 'pt-br',
      licenseKey: '',
      
      
      
    } )
    .then( editor => {
      window.editor = editor;
  
      
      
      
    } )
    .catch( error => {
      console.error( 'Oops, something went wrong!' );
      console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
      console.warn( 'Build id: v89nm3xcoi1i-xyd3twi9ywa' );
      console.error( error );
    } );
</script>
