<script src="/ckeditor/build/ckeditor.js"></script>
<link rel="stylesheet" href="/css/content-styles.css">
<link rel="stylesheet" href="/css/prism.css">

<div class="loader">
  <div class="text-center">
    <div class="spinner-border text-light" style="width: 2.5rem; height: 2.5rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
<form action="/add" method="POST" class="p-3" id="form">


  <div class="form mb-3 p-2 mx-auto bg">
    <fieldset disabled>
      <input  type="text" name="autor" class="form__input text-white-50 p-3 bg" autocomplete="off" placeholder=" " value="{{user.name}}">
      <label class="form__label ">Autor(a)</label>
    </fieldset>
  </div>
  
	<hr class="bg">

	<div class="form mb-3 p-2 mx-auto bg">
    <input type="text" name="titulo" class="form__input bg" autocomplete="off" placeholder=" " required>
    <label class="form__label">Título</label>
  </div>

	<hr class="bg">

	<div class="form-text mb-3 p-2 mx-auto bg">
    <textarea type="text" name="descricao" class="form__input bg" autocomplete="on" placeholder=" " required></textarea>
    <label class="form__label">Tags</label>
  </div>

	<hr class="bg">

  <div class="mb-3 p-2">
    <label class="form-label text-light">Conteudo do post</label>
    <textarea name="conteudo" class="form-control" id="validationTextarea"></textarea>
  </div>

  <div class="mb-3 p-2 bg-dark">
    <label class="form-label text-light bg" for="floatingInput">Salvar como:</label>
    <select class="form-select bg text-light border-2 border-secondary" name="publicado" required>
      <option value="true">Publico</option>
      <option value="false">Privado</option>
    </select>
  </div>
  <select class="visually-hidden-focusable form-select bg-dark text-light border-2 border-secondary" name="editado">
    <option value="false">Editdo</option>
  </select>
  <button type="submit" class="btn btn-primary mx-2">Enviar</button>

</form>

{{> _ckeditorJs}}
<script src="/js/prism.js"></script>
