<div class="card-body bg-transparent card text-center shadow m-3" id="bannerNotLogin">
  <h5 class="card-title text-secondary fw-light fs-4 mb-2">Bem vindo ao blog</h5>
  <p class="card-text text-light">O blog</p>
  <div class="g-signin2 shadow mx-auto" data-onsuccess="SignIn" data-theme="dark"></div>
  <small class="text-secondary">
    <a href="/logout" class="btn shadow btn-danger mt-2 text-light" onclick="signOut();">Sign out</a>
  </small>
</div>