<div class="card bg-dark">
  <div class="card-body px-4">
    {{#each posts}}
        <section class="text-light mt-2">
          {{{dataValues.conteudo}}}
        </section>
        <small class="text-secondary mt-5">{{dataValues.updatedAt}}</small>
        
        <hr class="text-light">
    {{/each}}
  </div>
</div>