<div class="loader">
  <div class="text-center">
    <div class="spinner-border text-light" style="width: 2.5rem; height: 2.5rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
<section class="row row-cols-md-1 p-1 ">
  {{#each posts}}
      <div class="col-lg-6 rounded-3 mb-4">
        <div class="card bg-dark m-2 shadow text-center" >
          <div class="card-body px-3 ">
            <h1 class="card-title text-light fs-3 mb-2">{{dataValues.titulo}}</h1>
            <small class="text-info">{{dataValues.descricao}}</small>
            <p class="card-text text-secondary"> by: {{dataValues.autor}}</p>
            <div class="d-grid gap-2">
              <a href="/posts/{{dataValues.slug}}" class="btn shadow btn-outline-success text-light">Ler Mais!</a>
            </div>
            <hr class="text-light">
          </div>
        </div>
      </div>
  {{/each}}
</section>