<form action="/add/textlist" method="POST" class="p-3" id="form">


	<div class="form mb-3 p-2 mx-auto">
    <input type="text" name="titulo" class="form__input bg rounded-3" maxlength="30" autocomplete="off" placeholder=" " required>
    <label class="form__label rounded-3">Título</label>
  </div>

	<hr class="text-dark">
  <button type="submit" class="btn btn-primary mx-2">Enviar</button>

</form>