<link rel="stylesheet" href="../../css/content-styles.css">
<link rel="stylesheet" href="../../css/prism.css">

<form action="/auth/create" method="POST" class="p-3" id="form">
  
	<hr class="bg">

	<div class="form mb-3 p-2 mx-auto bg">
    <input type="text" name="nickname" class="form__input bg" autocomplete="off" placeholder=" " required>
    <label class="form__label">Username</label>
  </div>

  <button type="submit" class="btn btn-primary mx-2">Criar Conta!</button>

</form>

<script src="../../js/prism.js"></script>
