/* CSSTidy 1.5.2: Mon, 07 Feb 2022 23:41:08 +0000 */
.bg {
background:#16161a!important
}

* {
scroll-behavior:smooth;
font-family: Helvetica Neue,Helvetica; 
}

html{
  height: 100vh !important;
  width: 100vw !important;
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
width: .6rem !important;
height:.6rem !important;
}

::-webkit-scrollbar-track {
background:#313133 !important;
}

::-webkit-scrollbar-thumb {
background:#eae9ec !important;
}

body,html {
overflow-x:hidden;
}

::-moz-selection {
color:#000;
background:#f5f5f5
}

::selection {
color:#000;
background:#f5f5f5
}

.li-menu {
margin-top:-15px
}

.li-menu-mobile {
margin-left:-30px!important
}

.text-profile a {
margin-left:10px;
font-weight: 700;
}

.text-profile-forum {
margin-left:-15px
}

.text-profile-forum a {
margin-left:-15px
}

.new-post {
padding-top:10px;
padding-bottom:10px;
margin:auto;
width:100%
}

.new-post a {
text-decoration:none
}

.none {
display:none;
visibility:hidden
}

.perfil a {
text-decoration:none;
font-weight: 700;
}

*,::before,::after {
-webkit-box-sizing:border-box;
box-sizing:border-box;
margin:0;
padding:0;
}

.form {
position:relative;
width:98%;
height:3rem
}

.form-text {
position:relative;
width:98%;
height:5rem
}

.form-text-comment {
position:relative;
width:98%;
height:3rem
}

.form__input {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
border:1.25px solid #6c757d;
border-radius:.5rem;
color:#fff;
outline:none;
padding:1.25rem;
background:none;
font:inherit inherit;
}

.form__input:hover {
border-color:#adffff
}

.form__input:focus {
border-color:#18ffff
}

.form__label {
position:absolute;
left:1rem;
top:.8rem;
padding:0 .5rem;
color:#fff;
cursor:text;
-webkit-transition:top 200ms ease-in,left 200ms ease-in,font-size 200ms ease-in;
transition:top 200ms ease-in,left 200ms ease-in,font-size 200ms ease-in;
background-color:#16161a
}

.form__input:focus~.form__label,.form__input:not(:placeholder-shown).form__input:not(:focus)~.form__label {
top:-.5rem;
font-size:.8rem;
left:.8rem
}

.end-15 {
right:15%!important
}

.end-10 {
right:7%!important
}

.margin-r {
margin-right:40px
}

.text-format {
  overflow-wrap: break-word;
}

input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active {
transition:background-color 5000s ease-in-out 0;
-webkit-text-fill-color:#ffff!important
}

.text-blue {
color:#ffff
}

.center {
display:flex;
justify-content:center;
align-items:center
}
.center-no-height {
  display:flex;
  justify-content:center;
  align-items:center
}
.footer {
display:flex;
flex-direction:column;
height:100%
}

.container__footer {
flex-shrink:0
}

.border-orange {
background:#f25f4c
}

.text-menu {
font-family:'Cinzel',serif;
font-weight:700;
color:#fff!important
}

.profile-head {
transform:translateY(4rem)
}

input[type='file'] {
display:none
}

.input-name {
background:none;
border:1px solid #495057;
max-width:90px;
border-radius:3px
}

.input-sobre {
background:none;
border:none
}

.start-12 {
left:96px!important
}

.pagination {
display:flex;
padding-left:0;
list-style:none
}

.page-link {
position:relative;
display:block;
color:#fff;
text-decoration:none;
background-color:#212529;
border:1px solid #141414;
transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
.page-link {
transition:none
}
}

.page-link:hover {
z-index:2;
color:#000;
background-color:#e9ecef;
border-color:#000
}

.page-link:focus {
z-index:3;
color:#000;
background-color:#e9ecef;
outline:0;
box-shadow:0 0 0 .25rem rgba(209,211,212,0.25)
}

.page-item:not(:first-child) .page-link {
margin-left:-1px
}

.page-item.active .page-link {
z-index:3;
color:#000;
background-color:#fff;
border-color:#000
}

.page-item.disabled .page-link {
color:#888b8d;
pointer-events:none;
background-color:#1d1d1d;
border-color:#000
}

.page-link {
padding:.375rem .75rem
}

.page-item:first-child .page-link {
border-top-left-radius:.25rem;
border-bottom-left-radius:.25rem
}

.page-item:last-child .page-link {
border-top-right-radius:.25rem;
border-bottom-right-radius:.25rem
}

.justify-content-center {
justify-content:center!important
}
.end {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.bg-black {
  background-color: #000;
}
.a2a_svg svg{background: #000000!important;border-radius: 0px !important;border: 2px solid black !important; border-color: #000000 ;}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.post_cover_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 1000/420;
  margin-bottom: -4px;
  border-radius:5px;
}
.profile_cover_img {
  object-fit: cover;
}
img[src=""] {
  display: none;
}

.ms-auto {
  margin-left: auto !important;
}

.m-5 {
  margin: 3rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.not-overflow-text {
 overflow-wrap: break-word;
}
a {
  text-decoration: none !important; 
}
a .text_dec {
  text-decoration: underline whitesmoke 0.1px !important;
}
iframe > h3 {
  font-size: 1.5rem!important;
  font-weight: 700!important;
  color: #fff!important;
  margin-bottom: 1rem!important;
}
.fade-in {
	opacity: 0;
	animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
  50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
.fade-out {
	opacity: 1;
	animation-name: fadeOutOpacity;
	animation-timing-function: ease-out;
	animation-duration: 2s;
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
  50% {
    opacity: 1;
  }
	100% {
		opacity: 0;

	}
}
.text-titulo {
  font-size: 1.35rem !important;
  font-weight: 600;
}
.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
.alert-dismissible {
  padding-right: 3rem;
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}

.mr-3 {
  margin-right: 20px;
}
.mt-35 {
  margin-top: 20px;
}
.border-1 {
  border-width: 1px !important;
}

.border-2 {
  border-width: 2px !important;
}

.border-3 {
  border-width: 3px !important;
}

.border-4 {
  border-width: 4px !important;
}

.border-5 {
  border-width: 5px !important;
}
.bg-text {
  text-shadow: rgb(0, 0, 0) 2px 0 11px;
}

@media (min-width: 1100px) {
  .show-mobile {
    display: none;
  }
}
@media (max-width: 1100px) {
  .hidden-mobile {
    display: none;
  }
}
@media (max-width: 1100px) {
  .display-mobile {
    position: unset !important;
    margin: 0 !important;
  }
}
@media (max-width: 1200px) {
  .hidden-margin {
    margin: 0 !important;
  }
}
.offcanvas-start {
  top: 0;
  left: 0;
  width: 80%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
}
.trtr-x {
  width: 380px;
  transform: translateX(186.5%);
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 0 2rem !important;
}
.nav-active {
  background-color: rgba(0, 0, 0, 0.829) !important;
}
/* ckediotr button */
.ck.ck-block-toolbar-button {
  background-color: black !important;
  border: 1px solid aqua !important;
}

@media (max-width: 860px) {
  .ck.ck-block-toolbar-button {
    left: 10px !important;
  }
}
.embedly-card-hug { margin: 0 !important;}
.ck-media__wrapper[data-oembed-url*="open.spotify.com"] {
  max-width: 100% !important;
}
.text-resume {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
a {
  color: #fff;
}
a:hover {
  color: #fff;
}
.pointer {
  cursor: pointer;
}
.text-yellow {
  color: #FFD700;
}

.height {
  min-height: 110px;
}
.description {
  border: none;
  max-width: 100%;
  width: 100vw;
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #498d8d;
}

.fade-in-btn {
	opacity: 1;
	animation-name: fadeInOpacityBtn;
	animation-timing-function: ease-in;
	animation-duration: .7s;
}

@keyframes fadeInOpacityBtn {
	0% {
		opacity: 0;
	}
  50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

.fade-out-btn {
	animation-name: fadeOutOpacityBtn;
	animation-timing-function: ease-in-out;
	animation-duration: .4s;
}

@keyframes fadeOutOpacityBtn {
	0% {
		opacity: 0.2;
	}
  50% {
    opacity: 0.1;
  }
	100% {
		opacity: 0;

	}
}
ol {
  padding-left: 2rem !important;
  margin-bottom: 1rem !important;
}
/* change lang */
.bg-word {
  background-color: #fcf8e3;
}
.site-footer
{
  margin-top: 200px;
  background-color:#26272b;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}

.social-icons a{

  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#000000
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.fab-container {
  z-index: 9999;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}
.iconbutton {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #383334;
}

.button {
  width: 60px;
  height: 60px;
  background: #363436;
}

.iconbutton i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
}

.options li {
  margin-top: unset;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.options {
  opacity: 0;
  list-style-type: none;
  position: absolute;
  bottom: 70px;
  right: 0;
}

.btn-label {
  padding: 2px 5px;
  margin-right: 10px;
  align-self: center;
  user-select: none;
  background-color: black;
  color: white;
  border-radius: 3px;
}

#text2 {
  opacity: 1  !important;
  cursor: context-menu !important;
  pointer-events:  visible  !important;
}
#text2 ul {
  display: none;
}
.show {
  display: block !important;
  opacity: 1;
}
.lock-body {
  -webkit-user-select: none ;
  -moz-user-select: none ;
  -ms-user-select: none ;
  user-select: none ;
  opacity: 0.9;
  cursor: not-allowed ;
  pointer-events: none ;
}
.toastui-editor-dark .toastui-editor-mode-switch {
  display: none !important;
}