/*!
  Theme: GitHub Dark Dimmed
  Description: Dark dimmed theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Colors taken from GitHub's CSS
*/
/* https://github.com/lonekorean/gist-syntax-themes */
/* https://github.com/lonekorean/gist-syntax-themes */

.hljs {
  color: #adbac7!important;
  background: #22272e!important;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #f47067!important;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #dcbdfb!important;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #6cb6ff!important;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #96d0ff!important;
}

.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: #f69d50!important;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: #768390!important;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #8ddb8c!important;
}

.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #adbac7!important;
}

.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #316dca!important;
  font-weight: bold!important;
}

.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #eac55f!important;
}

.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #adbac7!important;
  font-style: italic!important;
}

.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #adbac7!important;
  font-weight: bold!important;
}

.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #b4f1b4!important;
  background-color: #1b4721!important;
}

.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #ffd8d3!important;
  background-color: #78191b!important;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  color: inherit!important;
}
