<section class="row row-cols-md-1 p-1 my-5 center">
  <div class="col-lg-6 rounded-3 mb-1">
    <div class="card bg-transparent mb-3">
      <img src="/img/404.png" class="card-img-top w-50 translate-middle-z" alt="...">
      <div class="card-body d-grid bg-transparent text-white">
        <h5 class="card-title bg-transparent">Esta Página Não Existe :/</h5>
        <a class="card-text my-2 btn btn-light" href="/">
          Voltar Para Home
        </a>
      </div>
    </div>
  </div>
</section>