<div class="px-1 mt-4 accordion accordion-flush " id="accordionFlushExample">
  <div class="accordion-item rounded ">
    <h2 class="accordion-header rounded " id="flush-headingOne">
      <button class="rounded accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        {{__ "new_history.how_use_md"}}
      </button>
    </h2>
    <div id="flush-collapseOne" class="rounded accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body rounded">
        <p>
          {{__ "new_history.answer_how_use_md"}}
        <br>
           <a href="https://www.markdownguide.org/" target="_blank"><strong class="text-success" style="cursor: pointer;"> {{__ "new_history.see_example"}}</strong> </a> 
        </p>

      </div>
    </div>
  </div>
</div>
<script src="../../js/clipboard-polyfill.js"></script>