<a style="z-index: 1200;" href="/novo/post" type="button" class="btn btn-dark shadow-lg btn-lg position-fixed end-0 bottom-0 mb-3 margin-r">
    <i class="bi text-white bi-plus-circle"></i>
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill border-orange text-light">
    Post
  </span>
</a>
