<div id="text2" class="fab-container  ">
  <div id="plus-btn" class="button iconbutton ">
    <i class="bi bi-plus-lg"></i>
  </div>
  <ul id="options" class="options">
    <li >
      <a id="newTextlis" class="d-flex" href="/novo/textlist">
      <span class="btn-label">{{__ "home.new_textlist"}}</span>
        <div class="iconbutton">
          <i class="bi bi-list fs-2"></i>
        </div>
      </a>
    </li>
    <li>
      <a id="newPost" class="d-flex" href="/novo/post">
      <span class="btn-label d-flex">{{__ "home.new_history"}}</span>
        <div class="iconbutton">
          <i class="bi bi-blockquote-left fs-2"></i>
        </div>
      </a>
    </li>
  </ul>
</div>

<script src="../../js/addNewButton.js"></script>