{{!-- <section class="row " data-masonry='{"percentPosition": true }'>
    <a class="rounded-3 mb-1 post" href="#">
    <div class="post">
      <div class="card m-2">
        <img onerror="this.style.display='none'" class="post_cover_img center" src="https://i.ibb.co/s3HYGYK/bwlog.gif" alt="" width="1000" height="420" style="padding: 0rem !important;">
      </div>
    </div>
    </a>
 
</section> --}}