<section class="row cached row-cols-md-1">
  {{#each posts}}
      <div class="col-lg-6 rounded-3 mb-3 post">
        <div class="card m-2 text-center">
          <div class="card-body px-3 bg border border-dark shadow rounded rounded-2">
            <h1 class="card-title text-titulo text-light fs-3 mb-2">
              {{titulo}}
            </h1>
            <p class="text-white-50 text-format text-descricao" style="margin-bottom: 0;">
              {{descricao}}
            </p>
            <small class="card-text text-info my-1 text-autor">
              by: {{user.user_name}}
            </small>  
            <div class="d-grid gap-2 mt-2">
              <a href="/posts/{{slug}}" class="btn shadow btn-outline-dark text-light">Ler Mais!</a>
            </div>            
          </div>
        </div>
      </div>
  {{/each}}
</section>