<div class=" new-post p-2 rounded-pill">
  <div class="input-group rounded-3 shadow bg ">
    <input type="text" name="term" id="filter"
      class="filter bg form-control shadow-sm rounded-start border-dark text-light" autocomplete="off"
      placeholder="Pesquise :)">
    <button class="btn btn-outline-dark border-dark rounded-end m-auto" type="button" id="button-addon2">
      <i class="bi bi-search fw-bold"></i>
    </button>
  </div>
</div>

<script async src="../../js/search.js"></script>