<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-signin-client_id"
    content="485040018311-t4628pim6j74ssva2ctso0qapn65hts9.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <link rel="stylesheet" href="../../css/build.css" async defer>
  <script src="../../js/bootstrap.min.js" async defer></script>
  <link rel="shortcut icon" type="imagem/x-icon" href="../../img/icon.png" />
  <link rel="stylesheet" href="../../css/custom.css" async defer>
  <script async defer src="../../js/auth.js"></script>
  <link async defer href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap"
    rel="stylesheet">
</head>
<body class="bg-dark mt-3 container">
  <div class="offcanvas offcanvas-end rounded-start p-1 ml-2 bg" tabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header rounded-start">
      <h5 class="mt-3 fs-2 text-menu" id="offcanvasRightLabel">bwlog</h5>
      <button type="button" class="btn-close text-reset btn-close-white" data-bs-dismiss="offcanvas"
        aria-label="Close"></button>
    </div>
    <div class="offcanvas-body bg">
      <div class="navbar-nav li-menu-mobile">
        <a class="nav-link mx-auto text-white-50 fs-5" aria-current="page" href="/">Home</a>
        <a class="nav-link mx-auto text-white-50 fs-5" href="/perfil">Perfil</a>
        <a class="nav-link mx-auto text-white-50 fs-5" href="/novo/post">Nova história</a>
        <a class="nav-link mx-auto text-white-50 fs-5" href="/novo/textlist">Nova textlist</a>
      </div>
    </div>
  </div>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand mt-1 mx-1 fs-2 text-menu" href="/">bwlog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse li-menu" id="navbarNavAltMarkup">
          <div class="navbar-nav mt-3">
            <a class="nav-link active text-white mx-3" aria-current="page" href="/">Home</a>
            <a class="nav-link mx-3 text-white" href="/perfil">Perfil</a>
            <a class="nav-link mx-3 text-white" href="/novo/post">Nova história</a>
            <a class="nav-link mx-3 text-white" href="/novo/textlist">Nova textlist</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  {{>_msgAlert}}
  {{{body }}}
</body>

</html>