<div class="card text-white bg rounded-3 shadow-lg mb-3 m-2">
  <div class="card-body">
    <p class="card-text text-center "> Aqui está todos os textos referentes a textlist <strong
        class="text-info">{{textlist.dataValues.titulo}}</strong></p>
  </div>
</div>

{{> _search}}
{{> _renderAllPosts}}
{{> _newPost}}