<form action="/textlist/{{textlist.id}}" method="POST" class="p-3" id="form">
  <hr class="bg" />

  <div class="form mb-3 p-2 mx-auto">
    <input
      type="text"
      name="textlist"
      id="textlist"
      class="form__input bg rounded-3"
      maxlength="30"
      value="{{textlist.titulo}}"
      autocomplete="off"
      placeholder=" "
      required
    />
    <label for="textlist" class="form__label rounded-3">Título</label>
  </div>

  <hr class="bg" />

  <input
    id="publicado"
    name="publicado"
    type="hidden"
    name="publicado"
    value="0"
  />
  <input
    id="btn-enviar"
    type="submit"
    onclick="this.form.publicado.value=1"
    class="btn btn-light mx-2"
    value="Enviar"
  />
  <input
    id="btn-rasc"
    type="submit"
    class="btn btn-dark mx-2"
    value="Rascunho"
  />
  <div id="load"></div>
</form>

<script>

  function logSubmit() { document.getElementById("load").innerHTML = ` <div
  class="d-flex p-3 mt-3 bg align-items-center"> <strong
  class="text-white">Enviando...</strong> <div class="spinner-border text-white
  ms-auto" role="status" aria-hidden="true"></div> </div>`; var x =
  document.getElementById('btn-enviar').setAttribute("hidden", "true"); var y =
  document.getElementById('btn-rasc').setAttribute("hidden", "true"); } const
  form = document.getElementById('form'); form.addEventListener('submit',
  logSubmit);
</script>