<form action="/textlist/{{textlist.dataValues.id}}" method="POST" class="p-3" id="form">


  <hr class="text-dark">

  <div class="form mb-3 p-2 mx-auto">
    <input type="text" name="textlist" id="textlist" class="form__input bg rounded-3" maxlength="30"
      value="{{textlist.dataValues.titulo}}" autocomplete="off" placeholder=" " required>
    <label for="textlist" class="form__label rounded-3">Título</label>
  </div>

  <hr class="text-dark">
  <button type="submit" class="btn btn-light mx-2">Enviar</button>

</form>