<head>
  <title>bwlog</title>
  <meta name="title" content="{{textlist.titulo}}">
  <meta name="author" content="{{textlist.titulo}}">
  <meta name="description" content="bwlog | escreva e compartilhe histórias">
    <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.bwlog.dev/">
  <meta property="og:title" content="{{textlist.titulo}}">
  <meta property="og:description" content="bwlog | escreva e compartilhe histórias">
  <meta property="og:image" content="https://www.bwlog.dev/img/bwlog_banner.png">
</head>


<div class="card text-white bg rounded-3 shadow-lg mb-3 m-2">
  <div class="card-body">
    <p class="card-text text-center "> Aqui está todos os textos referentes a textlist <strong
        class="text-info">{{textlist.titulo}}</strong></p>
  </div>
</div>

{{> _search}}
{{> _renderAllPosts}}
{{> _newPost}}